---
import Chip from "@/components/Chip.astro";
import Filter from "@/components/Filter.astro";
import LinkWhatsapp from "@/components/LinkWhatsapp.astro";
import Products from "@/components/Products.astro";

const url = new URL(Astro.request.url);

const search = url.searchParams.get('search');
const financials = url.searchParams.get('financials');
const ram = url.searchParams.get('ram');
const rom = url.searchParams.get('rom');
const battery = url.searchParams.get('battery');
const camera = url.searchParams.get('camera');

const chips = []

if(search){
    chips.push({text: search, query: "search"})
}

if(financials){
    chips.push({text: "Financieras", query: "financials"})
}

if(ram){
    chips.push({text: "RAM", query: "ram"})
}

if(rom){
    chips.push({text: "ROM", query: "rom"})
}

if(battery){
    chips.push({text: "Batería", query: "battery"})
}

if(camera){
    chips.push({text: "Cámara", query: "camera"})
}

---

<section>
    <div class="filter">
        <Filter />
    </div>
    <div class="products-conteainer">
        <div class="chips-container">
            {chips.map(chip => (
                <Chip query={chip.query} text={chip.text} />
            ))}
        </div>
        <Products />
        <!-- <Pagination /> -->
    </div>
</section> 

<LinkWhatsapp />

<style>
    .chips-container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    section {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: start;
        align-items: start;
        gap: 2rem;
    }

    .filter{
        display: none;
        width: 40rem;
    }

    .products-conteainer{
        flex-grow: 2;
        margin-bottom: 10rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    @media only screen and (min-width: 1280px) {
        .filter{
            display: block;
        }
    }
</style>