---
import Favicon from "@/icon/favicon.astro";
import LogoKent from "@/icon/LogoKent.astro";
---

<footer>
    <div class="logs-container">
        <div class="logo-container">
            <Favicon size={70} />
            <h1>Samicel</h1>
        </div>
        <div class="logo-container">
            <a aria-label="Logo del desarrollador" target="_blank" href="https://github.com/Kent-Probe">
                <LogoKent />
            </a>
        </div>
    </div>
    <div class="links-container">
        <div>
            <h2>Información</h2>
            <ul>
                <li>¿Quiénes somos?</li>
                <li>Políticas de privacidad</li>
            </ul>
        </div>
        <div>
            <h2>Redes sociales</h2>
            <ul>
                <li>
                    <a href="https://www.facebook.com/samicel945/?locale=es_LA">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/samicel.acc/">
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        min-height: 5rem;
        padding: 4rem 10rem;

        background-color: #fff;
        border-top: 2px solid rebeccapurple;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    .logo-container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        & > h1{
            margin: 0;
            font-size: 4rem;
            font-weight: 700;
        }
    }

    .links-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 4rem;

        & > div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1rem;

            & > h2{
                margin: 0;
                font-size: 1.5rem;
                font-weight: 600;
            }

            & > ul{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                & > li{
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #444;
                    cursor: pointer;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    &:hover{
                        color: rebeccapurple;
                        scale: 1.1;
                    }
                }
            }
        }
    }

    .logs-container{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        flex-wrap: wrap;
    }

    @media (max-width: 670px) {
        footer{
            gap: 5rem;
            flex-direction: column;
        }

        .logs-container{
            justify-content: center;
        }
    }
</style>