---
import WhatsAppIcon from "@/icon/WhatsAppIcon.astro";
---

<a href="https://wa.me/573123006032" target="_blank" rel="noopener noreferrer">
    <WhatsAppIcon />
</a>

<style>
    a{
        --padding-whatsapp: 2rem;
        height: 80px;
        width: 80px;
        position: fixed;
        right: var(--padding-whatsapp);
        bottom: var(--padding-whatsapp);

        cursor: pointer;

        z-index: 1000;
        opacity: 1;
        transition: transform .3s ease-in-out;

        &:hover{
            transform: scale(1.2) skew(-10deg);
        }

        @media (max-width: 500px) {
            --padding-whatsapp: 1.5rem;
            width: 60px;
            height: 60px;
        }
    }
</style>